body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
    background-color: white;
  }
  
a {
	color: #149ddd;
}
  
a:hover {
	color: #37b3ed;
	text-decoration: none;
}
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

/*---#--------Section General-----*/
.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}



.navbar-brand {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 12px;
    
	/* filter: blur(2px); */
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu a:hover {
    color: dodgerblue;
    text-decoration: underline;
}


.navbar ul li a{
	margin-left: 30px;
	margin-right: 100px;
	font-weight: bolder;
    color: black;
}

.navbar ul li a:hover{
    color: dodgerblue;
}


/*Black Themes Color*/
.theme-dark {
    background-color: black;
}

.theme-dark .navbar ul li a {
    color: #fff;
}
.theme-dark .navbar-brand {
    color: #fff;
}
.theme-dark .dropdown a{
   color: dodgerblue;
}

.theme-dark .navbar ul li a:hover{
    color: dodgerblue;
}

/*Theme Ocean */
.theme-ocean {
    background-color: dodgerblue;
}


